/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/home/.ssh/config
/home/.bashrc
/home/.gnupg/gnu.conf
/home/.gitconfig
/home/.xscreensaver
/home/.zshrc
/home/.config/xmodmap.conf
/home/.config/lxterminal/lxterminal.conf
/home/.config/i3status/config
/home/.config/i3/config
/home/.config/bg.jpg
/home/.xinitrc
/home/.fehbg
